body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    min-height: 100px;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 70px;
    height: auto;
    margin-right: 10px;
    background-color: transparent;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background: #ffffff;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Shared styling for blog entries and Instagram posts */
.blog-entry, .instagram-post {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Title styling for both types */
.blog-entry h3, .instagram-post h3 {
    margin-bottom: 10px;
    color: #35424a;
    font-size: 1.5em;
}

/* Instagram post specific adjustments */
.instagram-post {
    text-align: center; /* Center content within the Instagram post container */
}

.instagram-post blockquote {
    margin: 0 auto;  /* Center blockquote */
    padding: 0;      /* Remove padding */
    width: 100%;     /* Ensure it takes full width */
    max-width: 540px; /* Limit maximum width */
}

.instagram-post iframe {
    width: 100%; /* Full width of the container */
    height: 500px; /* Set a specific height */
    border: none; /* Remove iframe border */
    border-radius: 8px; /* Rounded corners for iframe */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Subtle shadow around iframe */
    display: block; /* Make it a block element for centering */
    margin: 0 auto; /* Center the iframe */
}
