/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styling */
header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    min-height: 100px;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 70px;
    height: auto;
    margin-right: 10px;
    background-color: transparent;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

/* Main Section Styling */
section {
    padding: 20px;
    margin: 10px;
    background: #ffffff;
    border-radius: 8px;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Shared styling for blog entries and Instagram posts */
.blog-entry, .instagram-post {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Title Styling for Both Blog Entries and Instagram Posts */
.blog-entry h3, .instagram-post h3 {
    margin-bottom: 10px;
    color: #35424a;
    font-size: 1.5em;
}

/* Instagram Post Specific Styling */
.instagram-post {
    max-width: 540px;
    margin: 0 auto;
}

/* Ensure Instagram embed is responsive */
.instagram-post blockquote.instagram-media {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* Fix Instagram iframe aspect ratio */
.instagram-post .instagram-media {
    position: relative;
    width: 100%;
    padding-bottom: 120%; /* Adjust this to fit the post ratio */
    height: 0;
    overflow: hidden;
}

.instagram-post .instagram-media iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
